@import "tailwindcss";
@plugin "daisyui";

.simple-text {
  font-weight: 600;
  font-size: 0.75rem;
  color: #475569;
}

.banner-heading-txt {
  font-weight: 800;
  font-size: 3.75rem;
  line-height: 1;
  color: #0F172A;
}

.banner-gredient-txt {
  background: linear-gradient(to right, #FF5722, #D81B7E, #7C3AED);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.banner-gredient-btn {
  background: linear-gradient(to right, #F97316, #EC4899);
  color: white;
}

.card-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: #000;
}